.swiper-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  display: block;
  top: 60px;
  right: 60px;
}
.more_content {
  background-image: url('../images/btn_more.png');
  background-repeat: no-repeat;
  background-color: #da0f15;
  background-position: center center;
  position: absolute;
  width: 90px;
  height: 90px;
  display: block;
  left: 60px;
  bottom: 268px;
  z-index: 15;

  &:hover {
    background-color: #a7161b;
  }
}

.block_content {
  display: none;

  &.show {
    display: block;
  }
}

.red_block {
  position: absolute;
  bottom: 0;
  background-color: #da0f15;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  font-family: "sans-serif";
  font-weight: bold;
  z-index: 15;

  &:before {
    border-bottom: 30px solid #da0f15;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    bottom: 100%;
    content: "";
    position: absolute;
    z-index: 20;
    @include transform(translate(-50%, 0px));
    left: 50%;
  }
}

.swiper-slide {
  position:absolute;
  left:0;
  top: 0;
  width:100%;
}

.swiper-pagination-bullets {
  right: 60px;

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    @include border-radius(0);
    background-color: #ffffff;
    margin-bottom: 20px;
    @include opacity(1);

    &.swiper-pagination-bullet-active {
      background-color: #da0f15;
    }
  }
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 10;

  //display:none;
  position:absolute;
  bottom:0;
  left:0;
}
/* Slide 1 */
#slide-1 {
  background-image:url('../images/Lufthansa-Passangers_on_Tour-Teaser.jpg');
}

#slide-2 {
  background-image:url('../images/saturn2015_header1.jpg');
}

#slide-3 {
  background-image: url('../images/icebersongs-header.jpg');
}

#slide-4 {
  background-image: url('../images/icebersongs-header.jpg');
}