#block_three {
  background-image: url('../images/Samova-flowering-teabag_teaser.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  //overflow-y: hidden;
  position: relative;
}